/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
references: 
https://www.youtube.com/watch?v=Y8zMYaD1bz0&list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG
https://www.youtube.com/watch?v=u044iM9xsWU
https://www.youtube.com/watch?v=3YW65K6LcIA
https://www.youtube.com/watch?v=SgmNxE9lWcY
https://www.youtube.com/watch?v=SgmNxE9lWcY
https://www.youtube.com/watch?v=wRNinF7YQqQ


*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: tan; 
  color: #283618;
  
}

.header {
  background-color:bisque;
  padding: 1rem 0;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center; /* Center the links */
  flex-wrap: wrap; /* Allow the links to wrap on smaller screens */
}
.navbar a {
  color: #283618 ;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navbar a:hover {
  color: #7bb186;
}

.main-banner {
  position: relative;
  text-align: center;
}

.main-banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
    font-size:72px;
}

h2 {
  margin-top: 2rem;
  font-size: 28px;
}

h3 {  
  margin-top: 1rem;
  font-size: 20px;
  color: #283618;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 16px;

}

p {
  margin-top: 0;
  font-size: 20px;
  color: #283618;
  max-width:80ch;
}

li, ul {
  margin-top: 0;
  font-size: 20px;
  color: #283618;
  max-width:80ch;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #000000; 
  padding: 0.5rem;
  display: inline-block;
  color: #FCCEA7; 
  border: 1px solid #FCCEA7; 
  margin: 1rem 0; 
  white-space: nowrap; 
  overflow-x: auto; 
}


/* Services Section Styling */
.services-title {
  text-align: center;
  color: #283618;
  background-color:bisque;
  padding:10px;
  margin-bottom:0px;
  margin-top:75px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
  background: #333;
  margin-bottom:75px;
}

.service-box {
  flex: 1; /* This ensures that all flex items take up equal width */
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Distribute space vertically inside the box */
  margin: 10px;
  padding: 20px;
  background: #fff; 
  color: #000;
  text-align: center;
  border-radius: 8px;
 
 
}

.service-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Space between image and text */
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column; /* Stack the service boxes on smaller screens */
  }

  .service-box {
    width: 100%; /* Make each box full width on small screens */
    align-items: center; /* Align content in the middle for small screens */
  }
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .services-content {
    flex-direction: row; /* Side-by-side on larger screens */
  }
}
.text-content {
  width: 50%;
}

.image-content {
  width: 50%;
}

.image-content img {
  max-width: 100%;
  height: auto;
}
.image-content img {
  margin-top: 20px; 
}
.Images, .product-listing img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust based on design */
  }
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: #283618;
}
#personal-training {
  margin-top: 2rem;
  padding: 1rem;
  background: black; 
  color: white; 
}

#personal-training form {
  max-width: 600px;
  margin: auto;
}

#personal-training .input-group {
  margin-bottom: 1rem;
}

#personal-training input[type="text"],
#personal-training input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#typography
{
  padding: 10px;
  margin: 10px;
}
#typography h1 span{
  font-size: 32px;
  font-weight: lighter;
}
#typography h2 span{
  font-size: 16px;
  font-weight: lighter;
}
#typography h3 span{
  font-size: 16px;
  font-weight: lighter;
}
.Images{
  width:600px;
}
.Images:hover, .Images:focus{
  opacity: 0.3;
  }
  .button-nav:hover, .button-nav:focus {
    background-color: rgb(200,200,200);
  }
  /*
  when hovered over, it changes color to light grey 
  https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/
  */
  .button-nav:hover, .button-nav:focus {
    background-color:#283618;
  }
  
  .InputLabel:hover, .InputLabel:focus{
  

    border-color: #283618;
    
    }
    .button-enquiry, .button-clear {
      padding: 0.5rem;
      color: white;
      background-color: rgb(50,50,50);
      border: none;
      text-decoration: none;
      transition: background-color 0.5s ease;
    }
    
    .button-enquiry:hover, .button-clear:hover {
      background-color: #283618; /* Change background to orange on hover */
      color: black; 
    }
   
  
  .button-enquiry:hover {
      background-color:  #7bb186; /* Darker shade for hover state */
  }
  .product-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; 
    max-width: 800px; /* Set a max-width for the container */
}

.product-item {
  display: flex;
  background-color:  #7bb186;
  border-radius: 4px;
  width: 100%; /* Make the product item take full width of the container */
  overflow: hidden;
}

.product-image {
    width: 50%; /* Set image width to take up half of the container */
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%; /* Set content width to take up the remaining half */
}

.product-info h3 {
    margin-bottom: 10px; 
    font-size: 1.5em; /* Increase the font size */
}

.product-info p {
    margin: 5px 0;
    font-size: 1.2em; /* Increase the font size */
}
@media (max-width: 768px) {
  .product-item {
      flex-direction: column;
  }

  .product-image,
  .product-info {
      width: 100%; /* Make sure both image and info take full width on small screens */
  }

  .product-summary {
      margin: 20px; /* Reduce margin on smaller screens */
  }
}

  
  /* Responsive design */
  @media (max-width: 768px) {
      .product-item {
          flex-direction: column;
      }
  
      .product-image {
          max-width: none; /* Resets the max-width for smaller devices */
          width: 100%; /* Image takes full width */
      }
  }
    
    
    
    /* Styling for text input fields */
    .input-text {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border: 1px solid white; /* Default border color */
      background-color: #000; /* Input field background color */
      color: white; /* Input field text color */
    }
    
    .input-text:hover, .input-text:focus {
      border-color:  #7bb186; /* Change border to orange on hover/focus */
    }

    #about_us {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    
    .text-content,
    .image-content {
      flex: 1;
      padding: 20px;
    }
    
    .text-content {
      max-width: 50%;
    }
    
    .image-content {
      max-width: 50%;
    }
    
    .image-content img {
      width: 100%;
      height: auto;
    }
    
    @media (max-width: 768px) {
      .text-content,
      .image-content {
        max-width: 100%;
      }
    }
    .site-footer {
      background-color: #283618; /* Choose a color that fits your site's theme */
      color: white;
      text-align: center;
      padding: 5px 0;
  }
  
  .site-footer .container {
      width: 20%;
      margin: 0 auto;
      padding: 5px;
  }
  
  .site-footer p {
      margin: 10px 0;
      color: #7bb186;
  }
  
  .site-footer a {
      color: #7bb186; /* Slightly lighter color for links for contrast */
      text-decoration: none;
  }
  .site-footer h3 {
    color: #7bb186; /* Slightly lighter color for links for contrast */
    text-decoration: none;
}
  .site-footer a:hover {
      text-decoration: underline;
  }
  
  @media (max-width: 768px) {
      .site-footer .container {
          width: 95%;
      }
  }
/*

chnages the overall width of the image 
https://www.w3schools.com/cssref/sel_hover.php
*/
/*



#personal-training input[type="submit"]:hover {
  background-color: #e04e22; 
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/